@media (max-width: 900px) {

	h1 {
		font-size: 4.2rem;
	}
	
	.digitalStrategy img {
		width: 100%;
	}
}

@media (max-width: 650px) {
	.third {
		width: 100%;
		margin: 0;

	}
iframe {
		height: 300px;
	}
.work .innerWrapper img {
	min-height: 300px;

	display: block;
	margin: 0 auto;

}
.third p {
	font-size: 2rem;
}
	

}