/*I have yet to finish media queries to make website responsive. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/*Universal settings*/
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0; }

body {
  font-style: arial;
  padding: 0;
  margin: 0;
  background: #f3f0f0;
  font-family: 'open sans', arial;
  color: rgba(254, 254, 254, 0.7); }

h1 {
  font-size: 9.8rem;
  margin: 0;
  font-family: 'pacifico' , cursive;
  color: #252736; }

h2 {
  font-size: 3rem;
  margin: 0;
  color: #252736;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 3rem; }

h3 {
  color: #e30030;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }

p {
  font-size: 2rem;
  margin: 0;
  color: #252736;
  line-height: 1.5;
  padding: 0;
  font-weight: 300; }

span {
  color: #e30030; }

a {
  text-decoration: none;
  color: #e30030;
  font-weight: 600;
  margin: 0; }

.section {
  margin-top: 0;
  padding: 6rem 0;
  width: 100%; }

/*nav styling begins here*/
nav {
  padding: 0 3rem;
  height: 50px;
  margin-top: 0;
  margin: 0 auto;
  position: fixed;
  background: #e30030;
  width: 100%;
  text-align: left;
  color: #f3f0f0; }

nav a {
  font-size: 20px;
  width: 131px;
  color: #F3F0F0;
  font-weight: 300;
  padding-top: 10px;
  margin-left: 32px;
  text-align: center;
  display: inline-block; }

nav:hover ul {
  display: block; }

nav ul {
  padding-left: 0;
  position: relative;
  font-size: 20px;
  color: #f3f0f0;
  display: none;
  font-weight: 300;
  margin-top: 0; }

.show {
  display: block; }

nav ul li {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  transition: all 0.5s; }
  nav ul li:last-child a {
    border-bottom: 0; }

nav ul li a {
  color: #f3f0f0;
  font-family: 'open sans';
  text-align: center;
  font-weight: 300;
  background: #e30030;
  width: 125px;
  display: block;
  padding: 3rem;
  font-size: 20px;
  border-bottom: 1px solid #f3f0f0;
  margin-top: 0; }

.menu ul li:hover a {
  color: #252736; }

/*Home styling begins*/
.home {
  padding-top: 3rem; }

.telephone {
  height: 40rem;
  width: 40rem;
  margin-top: 60px; }

.homep {
  display: none;
  position: absolute;
  left: 6rem;
  top: 0.5rem; }

@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    -ms-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    -ms-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 30;
  animation-iteration-count: 30; }

svg.telephone {
  width: 400px;
  height: 400px;
  width: 60%; }

/*About section begins*/
.about {
  background: #252736;
  color: #f3f0f0; }

.about p {
  font-size: 2.2rem;
  color: #f3f0f0;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }

.about h2 {
  color: #f3f0f0;
  padding-bottom: 10px; }

.aboutPic {
  width: 30%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 10px solid #f3f0f0; }

.innerWrapper {
  max-width: 800px;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem; }

.skills {
  background: #e30030; }

.skills h3 {
  color: #252736;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

svg {
  width: 100%;
  fill: #252736; }

.row1 li {
  color: #252736;
  width: 30%;
  float: left;
  font-size: 2.4rem;
  font-family: 'Pacifico', sans-serif;
  font-weight: 600;
  list-style-type: none; }
  @media (max-width: 700px) {
    .row1 li {
      width: 50%; } }
  @media (max-width: 400px) {
    .row1 li {
      width: 100%; } }

.skills ul li ul li {
  list-style-type: none;
  width: 100%;
  float: none;
  font-weight: 300;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.8rem;
  text-shadow: 1% 1% 0px #f3f0f0; }

.skills ul li ul:last-child {
  padding: 3rem; }

/*Question Break begins*/
.wouldI {
  width: 100%;
  background: #f3f0f0;
  color: white; }

.innerWrapper.questionBreak {
  width: 100%;
  margin: 0 auto;
  text-align: 0;
  padding: 5rem 0;
  line-height: 5rem; }

.questionBreak {
  color: #f3f0f0; }

.questionBreak span {
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif; }

.questionBreak p {
  font-size: 2.5rem;
  font-family: 'Pacifico', sans-serif; }

/*Work section begins*/
.work {
  background: #f3f0f0;
  text-align: center; }

.work h2 {
  color: #252736; }

figure {
  width: 23%;
  margin: 1%;
  float: left; }
  @media (max-width: 700px) {
    figure {
      width: 48%; } }
  @media (max-width: 550px) {
    figure {
      width: 98%; } }

figure img {
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-bottom: 20px; }

figcaption {
  color: #252736;
  font-size: 16px; }

/*Blog begins*/
.section.blog {
  background: #252736; }

.post h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f3f0f0; }

.post p {
  padding: 2rem;
  color: #f3f0f0;
  text-shadow: 1px 1px 0 rbga(0, 0, 0, 0.3);
  font-weight: 300; }

.post span {
  color: #e30030;
  font-weight: 300; }

/*
contact form begins*/
.contact {
  background: #f3f0f0; }

.contact h2 {
  padding-bottom: 2rem; }

form {
  width: 80%;
  margin: 0 auto; }

input {
  line-height: 4rem;
  width: 100%;
  margin: 0.5rem auto;
  font-size: 2rem;
  outline: none;
  box-shadow: none;
  border: none;
  float: left;
  padding: 1rem 2rem; }

textarea {
  width: 100%;
  height: 10rem;
  border: none;
  resize: none;
  display: block;
  padding-left: 2rem; }

div.message {
  float: center;
  width: 100%;
  clear: both;
  font-size: 2rem;
  padding-top: 2rem; }

.submit.innerWrapper {
  padding: 0;
  padding-top: 2rem; }

div.submit {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

input.submit {
  width: 100%;
  box-shadow: none;
  background: #E30030;
  color: white;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto; }

label {
  display: none; }

/*
social media icons*/
.socialMedia {
  width: 260px;
  margin: 0 auto 2rem; }

.facebook, .codepen, .twitter, .email, .github {
  width: 32px;
  float: left;
  fill: #252736;
  display: inline;
  text-align: center;
  margin: 10px; }

/*footer begins*/
.footer .innerWrapper {
  text-align: center;
  padding: 0;
  clear: both;
  margin-bottom: 0; }

.footer p {
  padding: 5% 20%;
  color: #252736; }

.footer {
  padding: 0;
  background: #e30030;
  position: relative;
  bottom: 0;
  margin-bottom: 0; }
